.landing-page {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;

    .app-name {
    cursor: default;
    font-size: 8em;
    position: absolute;
    top: 40%;
    left:  30%;
}
}