.request-invite {
    margin-top: 4em;
    margin-left: 14em;
    
    width: 20em;
    height: 5em;
    border: 1px solid black;

    text-align: center;
    &:hover {
        background-color: black;
        color: white;
    }
    #request-invite-text{
        font-size: 3em;
        cursor: default;
    }
}