.request-invite {
    // make into flexbox for the future 
    position: absolute;
    top: 4em;
    left: 23em;
    width: 15em;
    height: 5em;
    border: 1px solid black;
    text-align: center;
    &:hover {
        background-color: $pink;
        color: white;
    }
    #request-invite-text{
        padding-top: .4em;
        font-size: 2em;
        cursor: default;
    }
}