@import 'Colors';

.login-form {
    position: relative;
    text-transform: uppercase;
    margin-top: 2em;
    margin-left: 2em;
    .login-text {
        font-size: 1.4em;
        margin-left: 1em;
    }
    form {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        margin-left: 10%;
        z-index: 1000;
        text-align: left;
    }
    input{
        margin: .5em auto;
        width: 110%;
        height: 2em;
        border: 1px solid black;
        transition: all 0.4s;
        padding: .5em .4em;
        background: $red;
        // box-shadow: 4px 4px 10px $shadow;
    }

    input:active, input:focus {
        outline: none;
        border: 1px solid $pink;
        background: $red;
    }
    input::placeholder, input::placeholder{
        color:  black;
        transition: all 0.4s;
        opacity: 1;
        background: $red;
    }

    input:focus::placeholder, input:focus::placeholder{
        opacity: 0;
    }

    .sign-in-btn {
        // margin: 1em auto;
        margin-left: 9em;
        width: 30%;
        height: 3em;
        letter-spacing: .3em;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
        transition: all 0.4s;
        font-size: 1.2em;
        // box-shadow: 4px 4px 10px $shadow;
    }

    .sign-in-btn:hover {
    border: transparent;
    background-color: $red;
    color: $pink;
    }
    // .sign-in-btn:visited {
    //     border: transparent;
    // }
    // .sign-in-btn:active {
    //     border: transparent;
    // }


    .error-modal {
        margin:auto;
        top: -8%;
        left: 10%;
        height: 19%;
        width: 50%;
        position: absolute;
        z-index: 100;
        background-color: $red;
        transform: translateX(0);
        transition: all 0.4s;
        border-radius: 6px;
    }

    .no-error {
        transform: translateX(-92em); 
    }

}

